$shadow-color-1: rgba(0, 0, 0, 0.1);
$shadow-color-2: rgba(0, 0, 0, 0.09);


.card{
    border:1px solid $primary-300;
    background-color: $neutral-50;
    &:hover{
    box-shadow: 
    1px 2px 5px 0px $shadow-color-1,
    6px 8px 10px 0px $shadow-color-2;
    }
    
}
