<footer class="footer">
  <!-- 聯絡方式 -->
  <section class="container">
    <div
      class="d-flex flex-column flex-lg-row justify-content-center gap-lg-15 gap-11"
    >
      <!-- logo區 -->
      <div
        class="headerLogo-bottom pe-lg-9 d-flex align-items-center justify-content-center flex-column"
      >
        <img
          src="/assets/images/logo/type=iconOnly.png"
          alt="一隻手大拇指捏著食指跟中指"
          class="mb-7"
        />

        <p class="mb-7 text-primary-900 fs-3 fs-lg-1">日常拾光</p>
        <p class="text-primary-900 fs-lg-4 fs-7 text-center">
          <span>在每段被遺忘的日常裡</span>
          <span>拾回那些閃閃發光的片段</span>
        </p>
      </div>
      <!-- category -->
      <div class="category">
        <!-- 標題 -->
        <p class="category-title">
          <span class="text-primary-900 fs-lg-3 fs-6">商品分類</span>
          <span class="text-neutral-600 categoryTitle-english fs-9 fs-lg-5"
            >Category</span
          >
        </p>
        <!-- 分類 -->
        <div class="mb-lg-7 mb-3">
          <div class="d-flex mb-lg-5 mb-2">
            <a href="#">客廳家具</a>
            <a href="#">櫥櫃</a>
          </div>
          <div class="d-flex mb-lg-5 mb-2">
            <a href="#">桌椅</a>
            <a href="#">臥室</a>
          </div>
          <div class="d-flex mb-lg-5 mb-2">
            <a href="#">辦公家具</a>
            <a href="#">裝飾/藝品</a>
          </div>
          <div class="d-flex mb-lg-5 mb-2">
            <a href="#">大型家電</a>
            <a href="#">運動器材</a>
          </div>
          <div class="d-flex mb-lg-5 mb-2">
            <a href="#">小型家電</a>
            <a href="#">休閒用品</a>
          </div>
        </div>
      </div>
      <!-- 聯絡我們 -->
      <div class="contactUs">
        <!-- 聯絡我們標題 -->
        <div class="mb-lg-7 mb-3 contactUs-title">
          <span class="text-primary-900 fs-lg-3 fs-6">聯絡我們</span>
          <span class="text-neutral-600 categoryTitle-english fs-9 fs-lg-5"
            >Contact</span
          >
        </div>
        <!-- 聯絡我們icon -->
        <div class="mb-8 mb-lg-9">
          <div class="d-flex gap-11">
            <img src="/assets/images/footer-icons/ig-icon.svg" alt="ig的icon" />
            <img src="/assets/images/footer-icons/fb-icon.svg" alt="fb的icon" />
            <img
              src="/assets/images/footer-icons/thread-icon.svg"
              alt="thread的icon"
            />
          </div>
        </div>
        <!-- 聯絡我們地址/電話/時間 -->
        <div class="d-flex flex-column gap-2 gap-lg-3">
          <p class="text-primary-900 fs-8 fs-lg-9">
            <img
              src="/assets/images/icons/type=location.svg"
              alt="位置的icon"
              class="me-3"
            />
            <span>106 台北市大安區復興南路一段123 號 6 樓</span>
          </p>
          <p class="text-primary-900 fs-8 fs-lg-9">
            <img
              src="/assets/images/icons/type=call.svg"
              alt="位置的icon"
              class="me-3"
            />
            <span>聯絡電話：(02) 2758 -1234</span>
          </p>
          <p class="text-primary-900 fs-8 fs-lg-9">
            <img
              src="/assets/images/icons/type=time.svg"
              alt="位置的icon"
              class="me-3"
            />
            <span>聯絡時間：上班日 09:00 - 18:00</span>
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="bg-primary-50 text-center py-lg-5 py-2">
    <p class="fs-8 fs-lg-7">Copyright © 2025 The Second Light</p>
  </div>
</footer>
