<!-- 購物流程區塊 -->
<section class="process-area mb-lg-9">
  <div
    class="container py-8 py-lg-9 d-flex justify-content-between align-items-center justify-content-lg-center"
  >
    <div class="text-center d-lg-flex align-items-lg-center me-lg-9">
      <div
        class="process-number-done d-flex justify-content-center align-items-center"
      >
        <p class="fs-8 fs-lg-5 text-primary-900">1</p>
      </div>
      <p class="fs-9 fs-lg-4 ms-lg-7">購物車</p>
    </div>
    <div class="process-line"></div>
    <div class="text-center d-lg-flex align-items-lg-center mx-lg-9">
      <div
        class="process-number-inProgress d-flex justify-content-center align-items-center"
      >
        <p class="fs-8 fs-lg-5 text-primary-900">2</p>
      </div>
      <p class="fs-9 fs-lg-4 ms-lg-7">訂單確認與結帳</p>
    </div>
    <div class="process-line-dashed"></div>
    <div class="text-center d-lg-flex align-items-lg-center ms-lg-9">
      <div
        class="process-number-next d-flex justify-content-center align-items-center"
      >
        <p class="fs-8 fs-lg-5 text-neutral-500">3</p>
      </div>
      <p class="fs-9 fs-lg-4 ms-lg-7 text-neutral-500">完成付款</p>
    </div>
  </div>
</section>
