// // @import 'components';
// @import "../../node_modules/bootstrap/scss/functions";
// @import './utils/variables';

// // 定義@font-face
// @font-face {
//   font-family: 'CustomFont';
//   src: url('/assets/fonts/jf-openhuninn-2.1.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

// @import "../../node_modules/bootstrap";
// @import"/assets/scss/utils/utilities";
// // 客製化元件
// @import "/assets/scss/utils/components/btn.scss";

// @import './layout/header.scss';
// @import './layout/footer.scss';

// @import './pages/index.scss';
// Bootstrap Sass functions & variables// Bootstrap functions
@import '../../node_modules/bootstrap/scss/functions';

// 變數
@import './utils/variables';

// 字型定義
@font-face {
  font-family: 'CustomFont';
  src: url('/assets/fonts/jf-openhuninn-2.1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Bootstrap 主體
@import '../../node_modules/bootstrap/scss/bootstrap';

// 自訂 utilities API（⚡ 要在 bootstrap/scss/bootstrap 之後，utilities 才存在）
@import './utils/utilities';

// 自訂元件
@import '/assets/scss/utils/components/btn.scss';

// 頁面與 layout
@import './base/base.scss';
@import './layout/header.scss';
@import './layout/footer.scss';
@import './layout/process.scss';
@import './layout/grid.scss';
@import './pages/index.scss';
@import './pages/product-detail.scss';
@import './pages/checkout.scss';
@import './pages/product-list';