.process-area {
  // 購物流程區塊
  background-color: $white;
  @media (min-width: 992px) {
    background-color: unset;
  }
}
.process-number {
  // 購物流程區塊的數字
  width: 24px;
  height: 24px;
  margin: 0px 32px 8px 32px;
  border-radius: 4px;
  &.inProgress,
  &.done {
    // 步驟進行中、完成流程的數字
    border: 2px solid $primary-500;
    background-color: $primary-500;
    color: $primary-900;
  }
  &.next {
    // 下一階段的數字
    border: 1px solid $neutral-200;
    background-color: $neutral-100;
    color: $neutral-500;
  }
  @media (min-width: 992px) {
    width: 40px;
    height: 40px;
    margin: 0px 24px 16px 24px;
  }
}
.process-text {
  // 購物流程區塊的文字
  &.inProgress,
  &.done {
    color: $black;
  }
  &.next {
    color: $neutral-500;
  }
}
.process-line {
  // 購物流程區塊中的實線
  width: 20px;
  border-top: 2px solid $primary-500;
  @media (min-width: 992px) {
    width: 100px;
  }
  &.gray {
    // 購物流程區塊中的灰線
    width: 20px;
    border-top: 2px solid $neutral-500;
    @media (min-width: 992px) {
      width: 100px;
    }
  }
}
