.bg-color{
     background: #FAFAFA;
}

.number-input .form-control {
     max-width: 44px;

}

.sofa-img{
     height: 100px;
     width: 100px;
}


.form-check {
     margin-bottom: 0;
}

.Ps-lg-486{
     padding-right: 486px;
}

.guesscard{
     border: 0.54px solid #F4DDB9;
}


.btn-next{
     width:160px;
}

.mb-97{
     margin-bottom: 97px;
}


@media (min-width: 992px) {
     .btn-next{
     width:260px;
     }
     .mb-lg-120{
          margin-bottom: 120px;
     }

}

.table-24 > :not(caption) > * > * {
  padding-left: 24px;  
  padding-right: 24px;
  padding-top: 0px;
  padding-bottom: 0px;

}


// .table-0 > :not(caption) > * > * {
//   padding-left: 24px;  
//   padding-right: 24px;
//   padding-top: 0px;
//   padding-bottom: 0px;

// }

.table-24 .form-check-input {
  display:block;         /* 讓 margin auto 有效 */
  margin: 0 auto;        /* 水平置中 */
  float:none;            /* 拿掉預設 float */
  text-align: center
}

.table-24 .form-check {
  display:block;         /* 讓 margin auto 有效 */
  margin: 0 auto;        /* 水平置中 */
  float:none;            /* 拿掉預設 float */
  text-align: center
}

.z-index-1{
     z-index: 2;
}


.delete-position{
     position:absolute;
     right: -12px;
     top: 0;


}
