ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.checkout-product-img {
  width: 100px;
  height: 100px;
  @media (min-width: 992px) {
    width: 200px;
    height: 150px;
  }
}
@media (min-width: 992px) {
  .lh-lg-lg {
    line-height: 1.5;
  }
  .Py-lg-13 {
    padding: 13px 0;
  }
  // 自製row col
  .checkout-row-lg {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
  }
  //共7欄
  $columns: 7;

  @for $i from 1 through $columns {
    .checkout-col-lg-#{$i} {
      padding-left: 16px;
      padding-right: 16px;
      width: (100% / $columns) * $i;
    }
  }
}
