JiaMori
jiamori2025
線上

社子畢卡索 — 2025/9/18 下午 09:18
大家不好意思我還在外面
還是我可以先把我這邊問題丟在這上面呢🥲
@JiaMori @Celia @Rogan @suee
Rogan — 2025/9/18 下午 09:19
我覺得可以
JiaMori

 — 2025/9/18 下午 09:20
可以
社子畢卡索 — 2025/9/18 下午 09:26
謝謝
這是要給設計師的
設計稿 - 結帳頁 - 寄送資訊
電腦版 → 總金額沒幣別
手機板 → radio 的 input (點) 跟 label (資訊) 之間的 padding 兩個選項不一樣
設計稿 - 結帳頁 - 付款方式
電腦版 - 標題字型大小有誤?
設計稿 - 結帳頁 - 付款詳情
手機板 → 標題向下的padding是否要與上方標題一致?

這是想問大家的

設計稿 - 結帳頁 - 手機板 需要 footer 嗎?
grid.scss (自製格線系統) 根據設計稿已移除，我們也移除嗎?
如果移除可能要改用推的
謝謝大家 不好意思😅
JiaMori

 — 2025/9/18 下午 09:30
@社子畢卡索 @Rogan @Celia @suee 
開始小組會議囉
會議連結：https://meet.google.com/qwy-hpaj-ocb
Meet
Real-time meetings by Google. Using your browser, share your video, desktop, and presentations with teammates and customers.
圖片
Celia
原PO
 — 2025/9/18 下午 09:31
@Rogan 上線囉
suee — 2025/9/18 下午 10:31
被結束了@@
Rogan — 2025/9/18 下午 10:31
是不是斷線了
圖片
suee — 2025/9/18 下午 10:31
應該是我們免費版的關係
JiaMori

 — 2025/9/18 下午 10:31
新會議連結：https://meet.google.com/tvq-grjq-xer
Meet
Real-time meetings by Google. Using your browser, share your video, desktop, and presentations with teammates and customers.
圖片
suee — 2025/9/18 下午 10:32
哇 完蛋 我剛剛打的要改設計稿的東西不見QQ
JiaMori

 — 2025/9/18 下午 10:40
設計稿意見 - 1
@suee 

商品圖片輪播的區塊

設計稿上 PC 版 和手機版是一模一樣的
但是在手機版上 這樣的設計會顯得很擠🥶 
小小的螢幕放上這麼多東西 粗粗的手指很容易誤觸的~~👆 ❌ 

想要請設計師取消手機版 主圖下方的縮列圖
如同各大電商平台上手機版的設計 
圖片
設計稿意見 - 2
@suee 

設計稿上的 btn-ghost 樣式👻 
實在不是很好看
我自主取消 hover 的下底線樣式
並修改了 .active 的樣式

第一張圖是設計稿的設定
第二與第三張圖 是我修改後的 hover 和 .active 樣式

不知道設計稿是否也要同步修改❓ 
圖片
圖片
圖片
suee — 2025/9/18 下午 10:47
1.購物車頁
-手機版只有單一價格，感覺不能確定是單價還是總價。
-手機版跟桌機版的畫面RWD邏輯差異太大，感覺手機沒有畫面的呈現感覺也有點擠，有優化空間

2.結帳頁
-Step2時，Step1比Step2的狀態更顯眼，感覺會造成誤會在Step1的混肴
-Table的欄位設計稿沒有按造切版邏輯設計，目前直接切版感覺會造成每個卡片欄位無法對齊
JiaMori

 — 2025/9/18 下午 10:48
@suee @Rogan @Celia @社子畢卡索 
請大家把設計稿修改意見
統整成文字訊息
貼在頻道上 並 @suee 

因為第一階段 - 首頁已經設計稿結案
如果 Rogan 有想要修改的地方
可以看看有沒有和其他頁面有共通樣式
改為以這個頁面的名義提交吧~~
設計稿意見 - 3
@suee 

卡片 hover 狀態未設定
希望可以添加商品卡片的 hover 樣式

我總共有三個需要修改的地方 3️⃣ 
抱歉啦 分成三份訊息了🙇‍♀️
suee — 2025/9/18 下午 11:17
👉 商品詳細頁面－－－－－－－－－－－－－

「手機板 」
--->移除商品小圖片的導覽區塊，手機感覺可以直接在大圖滑動查看即可，下方小圖片的導覽區塊內容太小沒有達到好的使用體驗

👉 結帳頁面－－－－－－－－－－－－－－－

「所有裝置」
--->流程提醒區塊，Step2時，Step1比Step2的狀態更顯眼，感覺會造成誤會在Step1的混肴


「電腦版」
--->Table的欄位設計稿沒有按造切版邏輯設計，目前直接切版感覺價格寬度差異造成每個卡片欄位無法對齊
--->發票類型 的訂單總金額缺少幣別
--->付款方式 的標題字型大小有誤

「手機板 」
--->寄送資訊 的radio 的 input (點) 跟 label (資訊) 之間的 padding 兩個選項不一致
--->付款詳情 標題padding-bottom是否應該與上方標題一致?

👉 購物車頁－－－－－－－－－－－－－－－

「所有裝置」
--->物件卡片手機版跟桌機版的畫面RWD邏輯差異太大，目前手機版的操作體驗，像是商品數量的位置感覺也有一起可以優化的空間

「手機板 」
--->物件卡片的刪除功能操作很難馬上意會到，如果沒有教學功能可能會讓使用者找不到可以刪除的方式，建議直接呈現
--->手機版只有一個價格，難以辨識是單價還是總價，會造成使用者誤會

👉 其他－－－－－－－－－－－－－－－

--->卡片 hover 狀態未設定，希望可以添加商品卡片的 hover 樣式增加使用體驗

---> btn-ghost hover 的下底線樣式不太好看，我們想要直接移除底線（不知道是否需要同步設計稿
@JiaMori @Rogan @Celia @社子畢卡索 再麻煩大家確認設計稿修改內容
沒問題我就Tag助教囉
Rogan — 2025/9/18 下午 11:21
我沒問題
suee — 2025/9/18 下午 11:42
@Jessica @Carol 卡羅 設計稿建議修改內容在這，再麻煩你們～ 感謝
JiaMori

 — 2025/9/19 上午 12:06
@suee @Rogan @Celia @社子畢卡索 
我的商品詳情頁已大致完成
剩下一些細節部分需要修改 和 尚未添加動畫效果

在此 請求 PR 審核
若大家沒有意見的話
我自己審核通過❓ 

合併到 origin main 遠端主分支後
大家就可以
git checkout main     // 切換到本地端主分支
git pull origin main     // 將遠端主分支抓取並合併入本地端主分支
git checkout feature/現在正在切的頁面     //別忘了切換到自己的分支再來繼續開發！ 
JiaMori

 — 2025/9/19 上午 03:10
發現版本衝突
等我解衝突，再過審唷
社子畢卡索 — 2025/9/19 上午 10:49
目前除了衝突我沒有問題，
只不過因為有些設定有改動，大家可能合併後要確認一下自己頁面

另外 git push origin main     // 將遠端主分支抓取並合併入本地端主分支
好像不是這個語法?
JiaMori

 — 2025/9/19 下午 09:28
打錯了
是 ‼️ pull ‼️ 

 git pull origin main     // 將遠端主分支抓取並合併入本地端主分支
JiaMori

 — 2025/9/19 下午 09:30
衝突已解
合併完成‼️
Gill WUUUU

 — 2025/9/20 上午 11:27
@here 同學週末好，我是代班設計助教長 Gill
感謝同學的除錯及整理，我來和各位確認修改事宜：

👉 2.2商品詳細頁－－－－－－－－－－－－－ 

「手機板 」 
---> 移除商品小圖片的導覽區塊，改以「・・・」方式呈現數片數量以及暗示可左右滑動。

 👉 結帳頁面－－－－－－－－－－－－－－－ 

「所有裝置」 
---> 步驟流程修改方向參考（圖一），僅保留兩種狀態樣式。
實心－已完成、執行中
灰階－未開始

 「4.3結帳頁 電腦版」 
---> 請設計師依照 Bootstrap 5 邏輯方式來製作 Table ，方便同學後續接手。
---> 發票類型 的訂單總金額補上幣別
---> 付款方式 的標題改為 h2 字級

「4.3結帳頁 手機板 」 
---> 寄送資訊 radiobtn 與 label 之間的 padding 統一修正為 8px （與其他 radiobtn 設定一致）
---> 付款方式 標題padding-bottom統一修改為 24px 

「4.2購物車頁  手機版」 
---> 購物車桌機版使用表格方式排版，如果相同呈現方式應用在手機版，通常會搭配 secrollbar 做左右滑動，容易造成體驗操作方式不佳，建議會保留手機版以「卡片方式」呈現。
建議同學使用 display: grid; 來做網格排列，盡可能讓同一組元件重複使用。
我會建議設計師來優化手機版卡片排版方式，可參考（圖二）。
---> 卡片取消移除手勢與 ui，改成直觀的刪除按鈕（圖二）。
---> 卡片補上單價、總價。

 👉 其他－－－－－－－－－－－－－－－ 
---> 目前設計師已補上卡片 hover 效果，如果缺漏部分請在截圖告知我們。
---> 請設計師同步移除 btn-ghost hover 的下底線樣式。

以上，再麻煩同學確認 :fbhug: 
圖片
圖片
Carol 卡羅 — 2025/9/20 下午 07:10
嗨嗨大家～
又到了一週一次的專題回報時間啦 📣
請在 週日 22:00 前，更新 Notion 的「每週專題回報」及 「里程碑 5 文件 」
也別忘了 @教練 一下唷~~

---

另外，雖然這次有兩場發表會，但我們已經拿到第二階段設計稿了（只剩修改部分）～
沒有意外的話，我們還是會被排在 10/5 發表，所以大家就以原本進度繼續就好 ✨

同時，也請同學們先討論想要的「簡報會議」時間
目前教練可以的時間：
10/1 ~ 10/4 平日晚上 20:00 後，假日整天都可以

教練會先幫忙預約會議室，大家也可以先有個心理準備
不過也要記得留修改簡報的時間唷～
再麻煩小組討論後，把想要的時間告訴教練啦 🙌

小提醒：
在簡報會議前，至少要完成 MVP 購買流程 5 頁（含首頁），並準備好初版的專題發表
到時候會請同學直接試講嚕～
（簡報內容可參考 之前的貼文）
 
補個 Tag
@JiaMori @社子畢卡索 @suee @Rogan @Celia 
Gill WUUUU

 — 2025/9/21 上午 10:51
@here 再麻煩同學回覆協助確認唷，避免設計師中間的等待時間～:fbhug:
suee — 2025/9/21 下午 01:09
應該沒問題唷～再麻煩你們了
Gill WUUUU

 — 2025/9/21 下午 01:25
@here 感謝同學回覆，火速提供給設計師調整哩！
JiaMori

 — 2025/9/21 下午 10:13
@suee @社子畢卡索 @Rogan @Celia 
大家晚安呀 🤓 
別忘了今天晚上的每周進度回報了唷‼️ 

⏰ 提醒一下
距離專題結束，就剩下兩週了2️⃣ 
大家衝一波🏎️ 
快快把專題任務給解決了吧💪 💪 💪 

衝鴨 ~~~
JiaMori

 — 2025/9/22 上午 10:36
@Carol 卡羅 
每周進度回報已完成🆗 
🎉 🎉 🎉
Carol 卡羅 — 2025/9/23 下午 05:24
@JiaMori @suee @社子畢卡索 @Rogan @Celia 

HIHI~
教練這邊更新一下
可預約的簡報會議時間
原本的 10/1~10/4
若扣除直播課 10/1、10/3
 建議不要翹課

只剩10/2 20:00 後
以及 10/4 (整天扣除 1400-1500)
請同學們先討論一下想要的簡報會議時間（目前同步有多組在預約唷～）
並請盡快告知教練唷 ❤️ 
Gill WUUUU

 — 2025/9/23 下午 05:25
@here
同學們好！目前設計師已完成 第二階段 設計稿修改囉！
請同學點選下方設計稿連結，協助查看設計稿有無問題
若有問題再請於二日內提出，若無我們第二階段就結案哩 ✨

設計稿連結

目前設計稿有不少 comment 請多擔待 😂
Figma
#B-12 日常拾光
Created with Figma
圖片
Carol 卡羅 — 2025/9/23 下午 08:10
🌸 W10 專題每週回饋時間 🌸
@JiaMori @suee @社子畢卡索 @Rogan @Celia 

📌  首先：
請小組討論後，盡快跟教練約簡報會議時間唷～
可約時間請參考 此貼文 

同時，我們的專題發表時間已經確定囉～
10/5 場地一 11:00 ~ 12:00 第ㄧ組
發表順序可能會因其他小組的狀況再做些微調整（通常是往前）
提前給你們一個心理準備～
詳細公告請參考 👉 ⁠📢｜班級公告⁠

另外補充一下：
每一組的發表時間是 8~12 分鐘
到時候簡報會議教練也會幫忙計時 😎
所以大家可以先壓一下時間來練習（通常都會不小心超過 XD）

除了展示頁面之外，也很推薦著重分享：
專題的理念與發想
製作過程中的心得收穫
遇到的困難，以及你們是怎麼解決的

展示一下你們專題的價值與團隊合作過程～ ✨
（其他簡報內容，請參考 之前貼文 ）

---

里程碑 5 進度 & 簡報製作
目前里程碑 5 文件裡
上週的 未開始 或 進行中 的任務（可能還在等第二設計稿修正好）
請大家更新一下自己的進度～
不管是已經做了一部分，還是還沒開始，都麻煩在文件裡註記一下
再請里程碑負責人 @JiaMori  @社子畢卡索  @Celia  跟進
並以情況調整任務規劃
這樣教練才能追蹤你們的專題進度唷～ 🙏

這週最優先要推進的頁面是：
商品詳情頁
結帳頁
商品列表
購物車頁面

其他次要頁面若還沒開始，可以移到這週最後或下週再做
如果覺得任務有點吃緊或時間不夠，記得勇敢跟小組夥伴說
大家可以一起協調、互相支援 💪

另外要提醒大家：
雖然頁面還沒全部切完，但 本週就要開始規劃 & 製作簡報囉！
之後再把新完成的頁面補進去即可
千萬不要把簡報製作都壓到最後一週，會非常趕 💦

同時，第二階段設計稿修正已經回來了～
請回覆一下設計助教長，才能快點拿到修正後的第二階段設計稿唷～

專題 Notion 補上 Demo 連結
也請記得把 Demo 連結放進：（請參考附圖）
里程碑 5 文件
小組 Notion 屬性

✨ 最後
再兩週專題就要結束啦！
雖然  JS 直播課程也將在明天正式開始
但這段時間，教練會希望大家可以先衝刺一下專題
同時小組間保持溝通、相互支援一下
這樣最後大家一定能順利完成專題發表啦～ 💪✨
圖片
圖片
社子畢卡索 — 2025/9/23 下午 10:51
@JiaMori @suee @Rogan @Celia 
請問大家設計稿有問題嗎
我這邊有個小問題要問~等大家一起 
JiaMori

 — 昨天 上午 12:36
@Rogan 
哈囉 看到你有修改程式碼並 push 到 github repo 上

可以請你幫忙解決一下版本衝突嗎🛠️ 
我已經解完 _footer.scss 上的衝突了
如果你有空的話 請解一下合併前後的版本衝突

⏰ 另外，小提醒一下
要推送更新內容，
可以先使用 PR，
將 feature 分支先
和遠端主分支 origin main 合併
( 盡量不要直接在 main 分支上合併‼️  )，
這樣遇到版本衝突，❌ 
可以先在本地端的 feature 分支上嘗試合併，

讓 main 分支可以看起來簡潔一些，
避免其他組員 pull origin main 時產生衝突
在 PR 的說明文字中簡述做了哪些改動，方便組員同步資訊

( 如果比較急，也可以自發 PR，再自己過審 PR )
( 當然，前提是，有再三檢查程式碼無誤後，再這樣做 )

辛苦啦~👍
Celia
原PO
 — 昨天 上午 12:53
設計稿 >我負責的購物車頁有兩個問題
購物車頁-桌機板賣家名稱的上下間距 是8px ，手機板"商品"，"賣家名稱"是9px，這樣要另外客製化間距而且比桌機板還寬有點怪，希望可以是8px
2.購物車頁-單價、數量、總價這三欄寬度都不一樣(我印象上周會議有說最好都一樣寬會比較好看)，然後單價的NTD$2,399兩個左右間距也不一樣~ 
圖片
圖片
另外 簡報會議(助教只剩10/2 20:00 後以及 10/4 (整天扣除 1400-1500)) ，這兩天我都可以，就看其他人的時間了~
Rogan — 昨天 上午 09:29
收到了, 感謝~
Rogan — 昨天 上午 09:33
我修改的點是把原本每個 @media (min-width:992px) { 程式碼 } 的部分修改掉
在footer.scss 最上面先使用@mixin computer {
  @media (min-width:992px) {
    @content;
  }
}
後續需要加入斷點的樣式 就不用重複寫 @media (min-width:992px) { 程式碼 }
例如: &-title{
    padding-bottom: 12px;
    margin-bottom: 8px;
    border-bottom: 1px solid $neutral-700;
    display: block;
    @include computer {
      display: inline-block; // ✅ 保留 margin-bottom
      vertical-align: bottom; // 可選：讓中英文對齊更好看
      margin-bottom: 16px;
    }
  }
}
使用 include 來導入斷點
會讓程式更簡潔
總結: 修改程式碼更簡潔
Rogan — 昨天 上午 09:38
10/2 20:00 後 可以, 星期六目前還沒有安排 , 看其他人狀況
社子畢卡索 — 昨天 上午 11:53
我也是兩個問題
是與Celia的問題2一樣
結帳頁-發票類型區塊有確定樣式了嗎
圖片
社子畢卡索 — 昨天 上午 11:54
10/2 20:00 後可以，10/4 有事了(如果要約這天要看喬不喬得出時間)
JiaMori

 — 昨天 下午 12:22
10/2、10/4兩天都可以👌
Rogan — 昨天 下午 02:35
大家都是10/2 可以
是不是就安排這天就好了
JiaMori

 — 昨天 下午 07:55
@Rogan @社子畢卡索 @Celia @suee 
大夥兒~ 記得明天晚上 09:30 小組會議唷🗓️ 
我先準備上課啦🤓
社子畢卡索 — 昨天 下午 09:15
@JiaMori @Rogan @Celia @suee 
剛發PR請求將checkout分支與main合併。
合併內容為checkout頁面，待設計師確認後續問題即可修正完成。
以下為此次新增內容

依照目前線稿圖做頁面內容調整
main.js 修正購物流程css變化
main.js 新增
選取寄送資訊時變更CSS
頁面釘選在下方的總計 使用gsap在指定位置取消釘選
JiaMori

 — 上午 12:20
@Rogan 
你的 main 分支可以執行 npm run deploy 嗎❓ 

我將你的更新內容 pull 下來之後
在執行 npm run deploy 時
卻編譯失敗了

你可以試試看嗎
我想知道是不是只有我才有這個問題
我現在 gh-pages 都沒有辦法更新啦:crying:
Rogan — 上午 12:33
我試試看
Rogan — 上午 12:44
我剛剛有修 index.scss
裡面有多的程式碼所以畫面跑不出來
我現在用 npm run dev 可以成功
Rogan — 上午 12:53
我明天研究一下
需要先休息
JiaMori

 — 上午 01:17
是 npm run deploy ❕ 
就是 編譯和部署 gh-pages
 (將scss編譯成css)
執行這個指令 我們才能看到更新後的頁面狀況
不然所有人就只能單純依靠程式碼 來檢核他人的程式碼~~
JiaMori

 — 上午 01:35
你試試看 
如果執行 npm run deploy 失敗
再看看是不是你改動的程式碼有問題
才會導致編譯失敗？

我 pull 你更新後的 origin main 後
出現這個問題
我想知道是不是只有我一個人會這樣，還是程式碼真的有錯誤出現？
如果有的話，你也順便解決一下吧🙏
社子畢卡索 — 上午 09:06
請問不能直接把 main 跟 gh-pages 合併 推上去之後再用github 的setting 調整嗎？
Rogan — 上午 10:59
https://hedychen-code.github.io/dailyShiguang/
我剛剛 deploy 完可以了
Rogan — 上午 11:25
圖片
我有發送pr , 把 index.scss 中的mixin 拿掉, 請確認下沒問題我覺得就可以合併進去
main
@社子畢卡索 @JiaMori @Celia @suee  10/2 請問希望幾點跟教練約呢?　晚上八點還是九點
還是需要更晚?
社子畢卡索 — 上午 11:47
我都可以
Celia
原PO
 — 上午 11:48
我都可以～
JiaMori

 — 下午 12:26
我都可以
JiaMori

 — 下午 12:30
我不是很懂你的意思
gh-pages不是main編譯出來的嗎
怎麼合併？😧
JiaMori

 — 下午 12:53
@社子畢卡索 @Celia @suee 🤓 
我看了下
你們三人都有PR申請
請確認下 提交PR完成後的頁面
GitHub 有沒有提示有conflicts存在
（就是過審和merge的那顆按鈕附近）

有 提示conflicts 的，請先自行解衝突🛠️ 

💪 💪 💪 
感謝🙇
Carol 卡羅 — 下午 01:02
HIHI~
教練看了喵了一下～ 發現你們的問題可能是

@Rogan 
圖片中的 PR 被關閉了，沒有合併成功，所以現在 origin/main 還是舊的版本
不過頁面還能正常顯示，可能是因你在未同步到最新的本地分支，執行了 npm run deploy
他會直接把當下 build 出來的檔案推到 gh-pages 分支，所以頁面現在才正常

所以之後要跑 npm run deploy 前，記得要先切回 main，並確認程式碼跟遠端同步，這樣部署出來的才會正確的喔～

@社子畢卡索 
不建議這樣做唷～
因為專案有安裝 gh-pages 套件，我們只要執行 npm run deploy：
會先 build 出一個 dist 資料夾
再把裡面的檔案推到遠端的 gh-pages 分支
所以 gh-pages 分支放打包好的靜態檔案，跟其他程式碼分開，這樣權責清楚，也比較乾淨～
（可以參考這篇文章）

若是還有問題，建議多多使用專題的作業討論區唷～（請問爆它 😎 ）

@JiaMori @Celia @社子畢卡索 @Rogan @suee 

同時 10/2（四）目前只剩 2200 - 2300
大家討論一下可不可以，如果可以請點個 emoji 🆗  👇 
或者再跟教練約其他時間唷～

更新一下目前可以約的時間：（怕你們 10/2 這麼晚無法）
10/2（四）目前只剩 2200 - 2300
10/1（三） 或 10/3（五） 直播課後（先預設 2200 - 2300） 或翹課
10/4（六）排除 1400-1500 時段
也可以 9/29 2000 後（不過怕你們來不及做簡報）
 
suee — 下午 01:04
我也都可以
社子畢卡索 — 下午 01:57
謝謝 教練😍
大家10/2可以嗎？不行我10/1-3也都可以
社子畢卡索 — 下午 02:09
目前看好像都沒有？
Rogan — 下午 02:48
可以
JiaMori

 — 下午 08:21
@Rogan 
你在執行 npm run deploy 指令的時候
指令的最前面有沒有出現 ❌ 紅色叉叉❔ 

我剛剛看到 gh-pages 我的商品詳情頁
有更新到最新版本
就以為你已經編譯成功了
所以就 merge @社子畢卡索 的 PR 申請

但是在執行 npm run deploy 後
又出現了編譯失敗的提示
提示內容和昨天一樣
是關於 @content 和 除法的新舊寫法 ➗ 的問題
你可能還要解決這部分問題
不然其他人的 pages 就看不到啦🫣 

-----我也不知道，為什麼在編譯失敗的情況下，我的 page 還能部署成功-----

-----------------------------------------------------------------------------------
時間順序：
jiamori 發 PR 
-> Rogan 將新的 commit 推到 origin main 
-> jiamori 自行過審 PR 
-> 執行 npm run deploy 失敗，提示 main 更新內容導致編譯 build 失敗 
-> 我的 product-detail 的 page 居然神奇的更新了⁉️ 
-----------------------------------------------------------------------------------

@社子畢卡索 
✅ 幫我 check 一下 
你的程式碼 在 GitHub 上有更新成功嗎
還有 page 有沒有更新到最新版❓
圖片
圖片
JiaMori

 — 下午 08:43
@Rogan @社子畢卡索 @suee @Celia 
今日小組會議主題：
跟進每位組員的專題任務進度
開發過程中，問題討論
討論是否開發次要頁面
測試環節，怎麼執行
簡報會議討論 --- suee 負責唷！

本來規劃今天可以直接在 github pages 上
瀏覽目前每位組員的開發成果
但是出了點意外 今天是來不及了🚗 

現在 Celia 和 suee 的 feature 分支，我也不知道要不要先暫停合併
等待編譯問題解決，再繼續合併❔ 
( 話說 @suee 好像沒有提交 PR ...👻  )
Rogan — 下午 08:58
等等會議上我看一下你的程式碼
請幫忙開啟index.scss 
JiaMori

 — 下午 09:01
可以唷
你也可以直接在 github 的 repo 上看的唷
現在只是 pages 編譯失敗
程式碼都更新到最新版本了！
Rogan — 下午 09:03
我再重新發一次pr ,稍等我一下
Jessica

 — 下午 09:10
@here 嗨嗨同學們好，關於設計稿有一處想與同學一起確認一下：

關於發票資訊的部分，由於目前設計稿，設計師採用分隔點隔開不同階層的資訊，這裡我有先建議設計師下一步建議，不過會更動到頁面的畫面架構，因此這邊再與同學同步確認一下。

以下是我建議設計師調整的部分：
區塊邏輯
從整體邏輯來看，「寄送資訊」「發票資訊」「付款方式」其實是三個獨立處理的流程，建議分成三個區塊呈現，這樣層次會更清楚，使用者在填寫或修改時也比較不會混淆。

發票資訊
這裡使用者可能會需要快速切換選項，所以我會更建議可以提供 radio button 讓他們自由切換（pchome、國外電商大多也是採用此方式），比較不建議像原線稿鎖住編輯選項。
另外，發票資訊它們之間是「選擇 → 產生後續操作」的因果選項，這邊我會建議可以選擇後，再出現下一階層的對應選項，會更符合使用者心智模型（例如：選擇電子發票後，下一步可以選擇手機載具、再出現手機載具輸入框）。

關於區塊、發票資訊，簡單示意如圖中右邊，請同學再協助確認這樣是否可以接受呢？ 
補上附圖～
圖片
JiaMori

 — 下午 09:30
@Rogan @社子畢卡索 @suee @Celia 
會議連結：https://meet.google.com/gvd-tqsq-ssq
Meet
Real-time meetings by Google. Using your browser, share your video, desktop, and presentations with teammates and customers.
圖片
suee — 下午 09:32
簡報：https://gamma.app/docs/-6bqpflzqzmc7mif
Rogan — 下午 09:37
@mixin computer{
  @media (min-with:992px){
    @content
  }
}
body {
展開
message.txt
9 KB
﻿
@mixin computer{
  @media (min-with:992px){
    @content
  }
}
body {
  font-family: CustomFont;
}
.swiper-navigation-container{
position: relative; /* 重要：讓箭頭相對於 container 定位 */
position: relative;

}
// swiper 遮罩
.swiper-overlay {
  position: absolute;
  top: 0; // top: 0; →； 讓元素頂到父容器的最上方。
  bottom: 0; // bottom: 0; → 讓元素頂到父容器的最下方。
//   因為 .swiper-overlay 用的是 position: absolute;，它會相對於最近的定位父層（這裡是 .swiper-navigation-container）定位。
// 這樣兩行合起來，overlay 就會「從上到下佔滿整個高度」，形成一條直條遮罩。
  width: 100px; /* 可以依需求調整 */
  z-index: 5;  /* 小於按鈕 z-index, 但要大於 slides */
  pointer-events: none; /* 讓滑動不受影響 */
}
/* 左邊 overlay */
.swiper-overlay.left {
  left: -20px;
  background: linear-gradient(to right, #fff 80%, transparent);
}
/* 右邊 overlay */
.swiper-overlay.right {
  right: -20px;
  background: linear-gradient(to left, #fff 80%, transparent);
}

.custom-pagination-wrapper{
  display: flex;
  justify-content: center ; /* 水平置中 */
  align-items: center;
  gap: 60px; /* 箭頭和分頁點之間的間距 */
  position: relative;
  z-index: 10;
}
.swiper-pagination-bullet{
      // transform: translateY(-30%);
      margin-right: 12px;
      // margin-left: 6px;
      width: 12px;
      height: 12px;
      text-align: center;
      line-height: 20px;
      font-size: 12px;
      background-color: white;
      border:1px solid $neutral-500;
      opacity: 1;
      // background: rgba(0, 0, 0, 0.2);
      transform: translateY(-40%);
      &-active{
      color: #fff;
      background: $primary-600;
      
    }
}
.custom-pagination-wrapper .swiper-button-prev,
.custom-pagination-wrapper .swiper-button-next {
  position: absolute;   /* 重點：取消 Swiper 預設的絕對定位 */
  z-index: 100;
  width: 40px;
  height: 40px;
  // margin-top: 20px;
  // transform: translateY(5%);
  background-color: #fff;
  border: 1px solid white;
  // display: flex;
  // justify-content: center;
  color: $primary-900;

}
.custom-pagination-wrapper .swiper-button-prev{
  left: 43%; 
}
.custom-pagination-wrapper .swiper-button-next{
  right: 43%; 
}

.custom-pagination-wrapper .swiper-button-prev::after,
.custom-pagination-wrapper .swiper-button-next::after {
  font-size: 14px; /* 改小一點，不會太突兀 */
  color: inherit;
}
// 左右按鈕
.swiper-button-next,
.swiper-button-prev {
  z-index: 10;// 調整 z-index 確保按鈕在最上層
}
.swiper-button-prev {
  left: -20px; /* 負值讓箭頭跑到容器外 */
}

.swiper-button-next {
  right: -20px;
}
.headSwiper .card-img {
width: 150px;
height: 150px;
object-fit: cover;
border: 2px solid $primary-300;
border-radius:50%;
@media (max-width:992px) {
width: 60px;
height: 60px;
border: 1px solid $primary-300;
}

}
// .card-content {
//   padding: 16px;
// }
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none; 
}
.swiper-button-next i,
.swiper-button-prev i {
  font-size: 16px; 
}
.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  background-color: $primary-500;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 45%;
  transform: translateY(-50%);
  z-index: 10;
  @media (max-width:976px){
    display: none;
  }
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #333;
}


// 主視覺
.mainSwiper  {
  height: auto;
  //因為每張照片不同，所以這裡使用 height: auto; 將所有 .swiper-slide 設定為自適應高度。下面的 height: 100%; 會使圖片內容填滿外部容器的高度。
  
  img {

    display: block;
    width: 100%;
    // height: 100%;
    height: 400px;
    object-fit:cover;
    // object-fit 可設定其圖片內容與外框的關係，使用 cover 即表示內容會縮放到整個外框。
    @include computer{
      height: 100%;
    }
  }
  .swiper-slide .card-img-overlay{
  
    padding: 57px 0 0 0;
    @media (min-width:992px) {
      padding-right: 160px;
    }

  }

}

//最新產品
.hotProd,.newtestProd{

  text-align: center;
  @media (min-width:992px) {
  text-align: start;
  }
  
}
.hotProdtext,.newtestProdtext, .orderProcessTitle{
  border-bottom: 4px solid $primary-500;
  &-english{
    @media (min-width:992px) {
      padding-top:19px;
    }
    
  }
}
.latestCard,.hotSelling{
    border:0.54px solid $primary-300;
    @media (min-width:992px) {
      border:1px solid $primary-300;
    }
    img{
      position: relative;
      object-fit: cover;
      height: 120px;
     @media (min-width:992px) {
    height: 221px;
    }
  }
    .material-symbols-outlined{
      color: white;
      position: absolute;
      top: 12px;;
      right: 12px;
    }
}
//文宣


.slogan, .apptextArea{
  background-color: $primary-50;
  min-width: 312px;
  height: 312px;
  @media (min-width:992px) {
    height: auto;
    background-color: white;
    width: auto;
    flex: 1;
    // width: 50%;
    // flex-shrink: 1;
    margin-top:136px;
    img{
      width: 200px;
      height: 230px;
    }
    
  }
}
.brandPromote{
  @media (min-width:992px) {
    height: 936px;
  }
}
.slogan-textarea{
    display: flex;
    width: 614px;
    gap:15.63px;
    &-buttons{
      @media (min-width:992px) {
      display: flex;
      gap:40px;
      }
    }
    img{
      max-width: 139.19px; // 設定最大寬度，避免圖片太大
      width: 100%; // 讓圖片在容器內自動縮放
      height: auto; // 保持圖片比例
      @media (min-width:992px) {
      max-width: 287px; // 設定最大寬度，避免圖片太大 
      }
    }
    &-paragraph{
      width: 77%;
    }
 }

.sloganImgArea {
  background-color: white;
  position: relative;
  min-width: 214.38px;
  height: 312px; // 手機版與 slogan 同高
  flex: 1;
  
  @include computer{
    height: 936px; // 桌面版與 brandPromote 同高
  }
  
  img {
    object-fit: cover;
    object-position: center;
    @media (min-width:992px) {
      right: calc(100%/12);
      top:calc(100%/23.4);
      // max-height: 70.1%;
      max-width: 100%; 
      position: absolute;
    }
  }
}
.appImgArea{ 
  background-color: white;
  position: relative;
  min-width: 214.38px;
  height: 312px; // 手機版與 slogan 同高
  flex: 1;


  // transform: rotate(-0.5turn);
  @include computer{
    height: 936px; // 桌面版與 brandPromote 同高
  }
}
.sloganImgArea-top, .appImgArea-top{
  
  background-color: $primary-50;
  flex-shrink: 0; // 防止被壓縮
  @media (min-width:992px) {
    height: calc(100%/6.88235);
  }
}
.sloganImgArea-middle{
  flex: 1; // 佔據剩餘的所有空間
}
.appImgArea-middle{
  flex: 1; // 佔據剩餘的所有空間
  position: relative;
  background-color: white;
}

.sloganImgArea-bottom,.appImgArea-bottom{
  height: calc(100%/6.88235);
  background-color: $primary-50;
  flex-shrink: 0; // 防止被壓縮
}
// 背景圖片樣式
  .appImgArea-middle-wrapper {
    object-fit: cover;
    object-position: center;
    @media (min-width:992px) {

      position: absolute;
      top: -96px; /* 往上位移 */
      left: 80px; /* 往右位移 */
      width: 100%; 
      z-index: 1;
    }
  }
  .background-img{
  width: 100%;
  display: block;
  transform: scaleX(-1); // /鏡像反轉/
  filter: blur(6px); //圖片變模糊
  }
  // // 手機圖片樣式 - 居中疊加
  .phone-img {
  position: absolute;

  left: 50%;
  transform: translate(-50%, -100%);
  width: 59.7%;
  z-index: 2;

  }
.decorated-title {
      position: relative;
      text-align: center;
      font-size: 20px;
      color: #8B4513;
      font-weight: normal;
      margin: 40px 0;
      display: inline-block;
      width: 100%;
      @media (min-width:992px) {
      font-size: 24px;
      }
}

.decorated-title::before,
.decorated-title::after {
      content: '';
      position: absolute;
      top: 50%;
      width: 39.06px;
      height: 1px;
      background-color: $primary-900;
      transform: translateY(-50%);
      @media (min-width:992px) {
        width: 100px;
      }

}
.decorated-title::before {
      transform: translateX(-108px);
}
.decorated-title::after {
      transform: translateX(8px);
}