<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>checkout</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
  </head>

  <body>
    <!-- header引入 -->
    <%- include('./layout/header'); -%>
    <!-- process引入(購物流程區塊) -->
    <%- include('./layout/process'); -%>
    <!-- 結帳頁面內容 -->
    <main class="pb-9 pb-lg-13" style="background-color: #fafafa">
      <!-- 購物車明細 -->
      <section
        class="container bg-white py-5 py-lg-10 px-lg-7 mb-7 mb-lg-9 border border-primary-300"
      >
        <ul class="d-lg-none pb-9 pb-lg-0">
          <li class="py-7">
            <div class="d-flex align-items-center">
              <div class="me-3">
                <img
                  src="../assets/images/img of product/product=sofaBed.jpg"
                  alt="亞麻灰沙發床"
                  class="checkout-product-img"
                />
              </div>
              <div class="flex-grow-1">
                <div class="mb-5">
                  <p class="fs-6 lh-sm mb-3 text-black">亞麻灰沙發床</p>
                  <div class="d-flex">
                    <p
                      class="fs-8 py-2 px-3 me-3 text-primary-900 bg-neutral-200"
                    >
                      可自取
                    </p>
                    <p
                      class="fs-8 py-2 px-3 me-3 text-primary-900 bg-neutral-200"
                    >
                      可宅配
                    </p>
                    <p class="fs-8 py-2 px-3 text-primary-900 bg-neutral-200">
                      3 成新
                    </p>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="fs-8 text-neutral-900">99 件</p>
                  <p class="fs-6 lh-sm text-primary-900">NTD＄237,501</p>
                </div>
              </div>
            </div>
          </li>
          <li class="py-7">
            <div class="d-flex align-items-center">
              <div class="me-3">
                <img
                  src="../assets/images/img of product/product=ymli_06.jpg"
                  alt="日式矮茶几桌"
                  class="checkout-product-img"
                />
              </div>
              <div class="flex-grow-1">
                <div class="mb-5">
                  <p class="fs-6 lh-sm mb-3 text-black">日式矮茶几桌</p>
                  <div class="d-flex">
                    <p
                      class="fs-8 py-2 px-3 me-3 text-primary-900 bg-neutral-200"
                    >
                      可自取
                    </p>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="fs-8 text-neutral-900">1 件</p>
                  <p class="fs-6 lh-sm text-primary-900">NTD＄2,599</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <table class="w-100 d-none d-lg-table" style="table-layout: fixed">
          <colgroup>
            <col style="width: 55%" />
            <!-- 商品圖片＋名稱 -->
            <col style="width: 15%" />
            <!-- 單價 -->
            <col style="width: 15%" />
            <!-- 數量 -->
            <col style="width: 15%" />
            <!-- 總價 -->
          </colgroup>
          <tr>
            <td class="pb-8">
              <p class="ps-9 fs-2 lh-sm text-neutral-900">訂單商品</p>
            </td>
            <td class="pb-8">
              <p class="fs-4 lh-sm text-primary-900 text-center">單價</p>
            </td>
            <td class="pb-8">
              <p class="fs-4 lh-sm text-primary-900 text-center">數量</p>
            </td>
            <td class="pb-8">
              <p class="fs-4 lh-sm text-primary-900 text-center">總價</p>
            </td>
          </tr>
          <tr>
            <td class="d-flex align-items-center pb-8">
              <div class="mx-9">
                <img
                  src="../assets/images/img of product/product=sofaBed.jpg"
                  alt="亞麻灰沙發床"
                  class="checkout-product-img"
                />
              </div>
              <div class="flex-grow-0">
                <div class="mb-5">
                  <p class="fs-3 lh-sm lh-lg-base mb-7 text-neutral-900">
                    亞麻灰沙發床
                  </p>
                  <div class="d-flex">
                    <p
                      class="fs-5 py-2 px-3 me-2 text-primary-900 bg-neutral-200"
                    >
                      可自取
                    </p>
                    <p
                      class="fs-5 py-2 px-3 me-2 text-primary-900 bg-neutral-200"
                    >
                      可宅配
                    </p>
                    <p class="fs-5 py-2 px-3 text-primary-900 bg-neutral-200">
                      3 成新
                    </p>
                  </div>
                </div>
              </div>
            </td>
            <td class="pb-8">
              <p class="fs-5 text-neutral-900 text-center">NTD＄2,399</p>
            </td>
            <td class="pb-8">
              <p class="fs-4 text-neutral-600 text-center">99</p>
            </td>
            <td class="pb-8">
              <p class="fs-5 text-black text-center">NTD＄237,501</p>
            </td>
          </tr>
          <tr>
            <td class="d-flex align-items-center">
              <div class="mx-9">
                <img
                  src="../assets/images/img of product/product=ymli_06.jpg"
                  alt="日式矮茶几桌"
                  class="checkout-product-img"
                />
              </div>
              <div class="flex-grow-0">
                <div class="mb-5">
                  <p class="fs-3 lh-sm lh-lg-base mb-7 text-neutral-900">
                    日式矮茶几桌
                  </p>
                  <div class="d-flex">
                    <p
                      class="fs-5 py-2 px-3 me-5 text-primary-900 bg-neutral-200"
                    >
                      可自取
                    </p>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <p class="fs-5 text-neutral-900 text-center">NTD＄2,599</p>
            </td>
            <td>
              <p class="fs-4 text-neutral-600 text-center">1</p>
            </td>
            <td>
              <p class="fs-5 text-black text-center">NTD＄2,599</p>
            </td>
          </tr>
        </table>
        <div class="d-lg-none border-top border-black">
          <p class="text-end mt-3 fs-8 text-neutral-600">訂單總金額</p>
          <p class="text-end fs-5 lh-sm text-neutral-900">NTD$240,100</p>
        </div>
      </section>
      <!-- 寄送資訊 -->
      <section
        class="checkout container bg-white py-5 p-lg-10 mb-7 mb-lg-9 border border-primary-300"
      >
        <p class="fs-4 fs-lg-2 lh-sm text-neutral-900 mb-9">寄送資訊</p>
        <div class="form-check py-5 px-3 p-lg-9 mb-5 d-flex align-items-center">
          <input
            class="form-check-input"
            type="radio"
            name="shipping-information-radio"
            id="shipping-information-1"
            checked
          />
          <label class="form-check-label w-100" for="shipping-information-1">
            <div class="ms-3 ms-lg-5 d-lg-flex justify-content-lg-between">
              <div class="mb-3 mb-lg-0">
                <div class="mb-7 d-flex flex-column-reverse flex-lg-row">
                  <div class="me-7">
                    <p class="fs-5 text-black">星星超商店到店寄送</p>
                    <p class="fs-8 fs-lg-7 text-neutral-600">
                      預計配送時間 3-5 日
                    </p>
                  </div>
                  <div>
                    <button
                      class="rounded-1 btn btn-neutral-50 text-primary-600 border fs-8 fs-lg-7 py-2 px-3 d-flex align-items-center lh-base"
                    >
                      <span class="ms-0 pe-2">
                        <img
                          src="../assets/images/icons/type=type30.svg"
                          alt="type30"
                        />
                      </span>
                      編輯資訊
                    </button>
                  </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                  <p class="text-neutral-600 w-64 me-7">收件人</p>
                  <p class="fs-8 fs-lg-7 text-neutral-900 py-lg-0">王省省</p>
                </div>
                <div class="d-flex align-items-center mb-3">
                  <p class="text-neutral-600 me-7">聯絡電話</p>
                  <p class="fs-8 fs-lg-7 text-neutral-900 py-lg-0">
                    +886 912342234
                  </p>
                </div>
                <div class="d-flex">
                  <p class="text-neutral-600 me-7 flex-shrink-0">配送分店</p>
                  <div class="py-lg-0 d-lg-flex">
                    <div
                      class="pb-3 pb-lg-0 pe-lg-3 border-bottom border-neutral-900 border-lg-end"
                    >
                      <p class="fs-8 fs-lg-7 text-neutral-900">太陽二店</p>
                    </div>
                    <div class="pt-3 pt-lg-0 ps-lg-3">
                      <p class="fs-8 fs-lg-7 text-neutral-900">
                        台西縣安安區太陽路二段 243 號
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="d-flex align-items-lg-end flex-lg-column justify-content-lg-center"
              >
                <p
                  class="fs-lg-4 lh-lg-sm text-primary-900 w-64 w-lg-auto me-7 me-lg-0 py-lg-0"
                >
                  運費
                </p>
                <p class="fs-4 fs-lg-3 lh-sm lh-lg-base text-primary-700">
                  NTD$60
                </p>
              </div>
            </div>
          </label>
        </div>
        <div
          class="form-check py-5 px-3 p-lg-9 mb-9 mb-lg-10 d-flex align-items-center"
        >
          <input
            class="form-check-input"
            type="radio"
            name="shipping-information-radio"
            id="shipping-information-2"
          />
          <label class="form-check-label w-100" for="shipping-information-2">
            <div class="ms-3 ms-lg-5">
              <p class="fs-lg-5 texr-black">宅配</p>
            </div>
          </label>
        </div>
        <!-- 發票類型 -->
        <div class="py-lg-10 border-top-0 border-top-lg-1-neutral-200">
          <p class="fs-4 fs-lg-2 lh-sm text-neutral-900 mb-9">發票類型</p>
          <div class="w-lg-608">
            <ul class="d-flex mb-5">
              <li class="me-5 w-100">
                <button
                  type="button"
                  class="w-100 py-5 px-3 py-lg-9 fs-8 fs-lg-5 text-primary-700 border border-primary-600 bg-primary-100"
                >
                  電子發票
                </button>
              </li>
              <li class="me-5 w-100">
                <button
                  type="button"
                  class="checkout-typeBtn w-100 py-5 py-lg-9 fs-8 fs-lg-5"
                >
                  紙本發票
                </button>
              </li>
              <li class="w-100">
                <button
                  type="button"
                  class="checkout-typeBtn w-100 py-5 py-lg-9 fs-8 fs-lg-5"
                >
                  捐贈發票
                </button>
              </li>
            </ul>
            <!-- 個人 -->
            <div
              class="form-check py-7 ps-0 pe-3 p-lg-9 mb-0 d-flex align-items-center"
            >
              <input
                class="form-check-input"
                type="radio"
                name="shipping-invoicetype-radio"
                id="shipping-invoicetype-1"
                checked
                aria-expanded="false"
                aria-controls="collapseCompany"
              />
              <label
                class="form-check-label w-100"
                for="shipping-invoicetype-1"
              >
                <div class="d-flex">
                  <p class="d-inline me-7 fs-8 fs-lg-5 text-neutral-900">
                    二聯式（個人載具或會員載具）
                  </p>
                </div>
              </label>
            </div>
            <div class="ms-10 collapse" id="collapsePersonal">
              <label
                class="form-check py-3 ps-0 pe-3 p-lg-9 my-lg-3 my-2 d-flex align-items-center"
                for="shipping-invoicepersonal-1"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="shipping-invoicepersonal-radio"
                  id="shipping-invoicepersonal-1"
                  checked
                />
                <div class="d-flex flex-column">
                  <span
                    class="form-label d-inline fs-8 fs-lg-5 text-neutral-900"
                    >手機載具（手機條碼）</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="companyTaxId"
                    placeholder="/YY++XXX"
                  />
                </div>
              </label>

              <div
                class="form-check py-3 ps-0 pe-3 p-lg-9 d-flex align-items-center"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="shipping-invoicepersonal-radio"
                  id="shipping-invoicepersonal-2"
                />
                <label
                  class="form-check-label w-100"
                  for="shipping-invoicepersonal-2"
                >
                  <div class="d-flex">
                    <p class="d-inline fs-8 fs-lg-5 text-neutral-900">
                      平台會員載具（預設以帳號綁定的載具）
                    </p>
                  </div>
                </label>
              </div>
            </div>
            <!-- 公司 -->
            <div
              class="form-check py-7 ps-0 pe-3 p-lg-9 my-lg-5 my-5 d-flex align-items-center"
            >
              <input
                class="form-check-input"
                type="radio"
                name="shipping-invoicetype-radio"
                id="shipping-invoicetype-2"
              />
              <label
                class="form-check-label w-100"
                for="shipping-invoicetype-2"
              >
                <div class="d-flex">
                  <p class="d-inline me-7 fs-8 fs-lg-5 text-neutral-900">
                    三聯式（公司抬頭與統一編號）
                  </p>
                </div>
              </label>
            </div>
          </div>
        </div>
        <!-- 總金額 -->
        <div class="d-none d-lg-block border-top border-neutral-200">
          <p class="text-end mt-lg-9 fs-lg-4 lh-lg-sm text-primary-900 me-lg-9">
            訂單總金額
          </p>
          <p class="text-end fs-lg-3 text-neutral-900 me-lg-9">NTD$240,100</p>
        </div>
      </section>
      <!-- 付款方式 -->
      <section
        class="checkout container bg-white py-5 p-lg-10 mb-7 mb-lg-9 border border-primary-300"
      >
        <p class="fs-4 fs-lg-2 lh-sm text-neutral-900 mb-9">付款方式</p>
        <div class="w-lg-608">
          <ul class="d-flex mb-5">
            <li class="me-5 w-100">
              <button
                type="button"
                class="w-100 py-5 px-3 py-lg-9 fs-8 fs-lg-5 text-primary-700 border border-primary-600 bg-primary-100"
              >
                信用卡/金融卡
              </button>
            </li>
            <li class="me-5 w-100">
              <button
                type="button"
                class="checkout-typeBtn w-100 py-5 py-lg-9 fs-8 fs-lg-5"
              >
                轉帳
              </button>
            </li>
            <li class="w-100">
              <button
                type="button"
                class="checkout-typeBtn w-100 py-5 py-lg-9 fs-8 fs-lg-5"
              >
                貨到付款
              </button>
            </li>
          </ul>
          <div
            class="form-check py-7 px-3 p-lg-9 mb-5 d-flex align-items-center"
          >
            <input
              class="form-check-input"
              type="radio"
              name="shipping-creditcard-radio"
              id="shipping-creditcard-1"
              checked
            />
            <label class="form-check-label w-100" for="shipping-creditcard-1">
              <div class="ms-3 ms-lg-5 d-flex">
                <p class="d-inline me-7 fs-8 fs-lg-5 text-neutral-900">
                  星星商業銀行
                </p>
                <p class="d-inline text-primary-700 fs-8 fs-lg-5">****2234</p>
              </div>
            </label>
          </div>
          <div
            class="form-check py-7 px-3 p-lg-9 mb-5 d-flex align-items-center"
          >
            <input
              class="form-check-input"
              type="radio"
              name="shipping-creditcard-radio"
              id="shipping-creditcard-2"
            />
            <label class="form-check-label w-100" for="shipping-creditcard-2">
              <div class="ms-3 ms-lg-5 d-flex">
                <p class="d-inline me-7 fs-8 fs-lg-5 text-neutral-900">
                  太陽國際商業銀行
                </p>
                <p class="d-inline text-primary-700 fs-8 fs-lg-5">****1234</p>
              </div>
            </label>
          </div>
          <button
            type="button"
            class="checkout-creditcardBtn w-100 fs-8 fs-lg-5 py-7 py-lg-9 px-3 d-flex justify-content-center align-items-center"
          >
            <span class="material-symbols-outlined me-3"> add </span>

            新增信用卡
          </button>
        </div>
      </section>
      <!-- 付款詳情 -->
      <section
        class="container bg-white mb-104 mb-lg-0 py-5 p-lg-10 border border-primary-300"
        id="pay"
      >
        <p class="d-lg-none fs-4 fs-lg-2 lh-sm text-neutral-900 mb-9">
          付款詳情
        </p>
        <div class="d-lg-flex justify-content-lg-end">
          <div>
            <div
              class="mb-2 mb-lg-3 d-flex justify-content-between align-items-center"
            >
              <p class="text-neutral-600">商品金額</p>
              <p class="text-neutral-900 fs-lg-5">NTD$240,100</p>
            </div>
            <div
              class="mb-2 mb-lg-3 d-flex justify-content-between align-items-center"
            >
              <p class="text-neutral-600">運費</p>
              <p class="text-neutral-900 fs-lg-5">NTD$60</p>
            </div>
            <div
              class="d-flex justify-content-between align-items-center mb-lg-9"
            >
              <p class="text-neutral-600 me-lg-7">付款總金額</p>
              <p class="text-primary-700 fs-lg-3">NTD$240,160</p>
            </div>
            <div class="d-none d-lg-flex justify-content-lg-end">
              <a
                href="order-complete.html"
                class="btn fs-5 text-primary-900 lh-sm btn-primary-500 py-5 w-lg-260 border-0"
              >
                下訂單
              </a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- 固定在頁面下的總計 -->
    <section
      id="sticky-footer"
      class="position-fixed bottom-0 start-0 w-100 px-5 py-9 bg-primary-50 border-top border-neutral-500"
    >
      <div
        class="container-lg pe-lg-64 d-flex justify-content-between align-items-center justify-content-lg-end"
      >
        <div class="me-lg-10">
          <p class="fs-8 fs-lg-7 mb-2 mb-lg-0 text-neutral-900 text-end">
            總金額（<span class="text-primary-700">100</span> 個商品）
          </p>
          <p class="fs-5 fs-lg-2 text-primary-700">NTD $240,160</p>
        </div>
        <div>
          <a
            href="order-complete.html"
            class="btn fs-lg-5 lh-base lh-lg-sm text-primary-900 btn-primary-500 py-3 py-lg-5 w-160 w-lg-260 border-0"
          >
            下訂單
          </a>
        </div>
      </div>
    </section>
    <!-- footery在桌機板引入 -->
    <footer class="d-none d-lg-block">
      <%- include('./layout/footer'); -%>
    </footer>
    <!-- 腳本引入 -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
    <!-- GSAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
