<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>我的訂單</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section>
      <div class="memberpage d-flex flex-column flex-lg-row">
        <!-- 左半側sidebar -->
        <div class="px-4">
          <div class="member-sidebar">
            <div class="d-flex gap-3 mt-9 pb-11 mb-11 member-sidebar-avatar">
              <img src="/assets/images/avatar.png" alt="" />
              <div class="w-100">
                <h4 class="px-5 mt-3">拾光君</h4>
                <a href="#" class="d-flex gap-2 mx-5">
                  <span class="material-symbols-outlined align-bottom">
                    edit
                  </span>
                  <p>編輯個人資訊</p>
                </a>
              </div>
            </div>
            <!-- 左半邊下方列表 -->
            <div>
              <div class="myaccountList-group list-group list-group-flush">
                <a
                  href="myAccount.html"
                  class="border-0 list-group-item list-group-item-action d-flex align-items-center gap-3"
                  aria-current="true"
                >
                  <span class="material-symbols-outlined align-bottom">
                    person
                  </span>
                  <p>我的帳戶</p>
                </a>
                <a
                  href="./shoppinglist.html"
                  class="border-0 list-group-item list-group-item-action active d-flex align-items-center gap-3"
                  aria-current="true"
                >
                  <span class="material-symbols-outlined"> shopping_bag </span>
                  <p>購買清單</p>
                </a>
                <a
                  href="#"
                  class="border-0 list-group-item list-group-item-action d-flex align-items-center gap-3"
                  aria-current="true"
                >
                  <span class="material-symbols-outlined align-bottom">
                    storefront
                  </span>
                  <p>我的賣場</p>
                </a>
                <a
                  href="#"
                  class="border-0 list-group-item list-group-item-action d-flex align-items-center gap-3"
                  aria-current="true"
                >
                  <span class="material-symbols-outlined aling-bottom">
                    chat_bubble
                  </span>
                  <p>互動訊息</p>
                </a>
                <a
                  href="#"
                  class="border-0 list-group-item list-group-item-action d-flex align-items-center gap-3"
                  aria-current="true"
                >
                  <span class="material-symbols-outlined aling-bottom">
                    siren
                  </span>
                  <p>所有通知</p>
                </a>
                <a
                  href="#"
                  class="border-0 list-group-item list-group-item-action d-flex align-items-center gap-3"
                  aria-current="true"
                >
                  <span class="material-symbols-outlined aling-bottom">
                    favorite
                  </span>
                  <p>我的收藏</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- 右半側主要畫面 -->
        <div
          class="member-content justify-content-center align-items-center gap-9 d-flex flex-column flex-lg-row container"
        >
          <div>
            <p class="text-start w-100 fs-3 mt-9 d-block d-md-none">購買清單</p>
            <img
              src="/assets/images/Frame 45.svg"
              alt="一個大大的放大鏡"
              class="member-content-img"
            />
          </div>

          <div>
            <p class="fs-lg-1 fs-4 mb-7">還沒有任何購買紀錄</p>
            <button
              class="btn btn-primary d-flex align-items-center fs-5 w-100 justify-content-center mb-8"
            >
              前往選購!<span class="material-symbols-outlined align-bottom">
                arrow_forward_ios
              </span>
            </button>
          </div>
        </div>
      </div>
    </section>
    <!-- footer引入 -->
    <%- include('./layout/footer'); -%>
    <!-- 腳本引入 -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="../js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
  </body>
</html>
